.counter {
  border: 2px;
}
.card {
  background-color: burlywood;
  border-color: black;
  border-style: solid;
}


.loginForm {
  border: 1px solid #999;
  background-color: #dedede;
  padding: 8px;
  border-radius: 4px;
  position: absolute;
  width: 300px;
  top: 65px;
  left: 8px;
}